body {
    background-color:#000;
    color:#FFF;
    overflow:hidden;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

canvas {
    position:fixed; 
    top:0;
    left:0;
    z-index:-1;
    background:#000;
    cursor:none;
}

.label {
    font-size:1.2em;
    color:#FFF;
}

.notifications .label {
    float:left;
    margin:10px;
}

#StartScreen, #GameOver, #Paused {
    color:#FFF;
    font-size:1.2em;
    display:none;
    clear:both;
    margin:50% auto;
    text-align:center;
}

#StartScreen {
    display:block;
}